<?xml version="1.0"?>

<model>
  <name>auv</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Jeremy Coffelt</name>
    <email>jcoffelt@rosen-group.com</email>
  </author>
  <description>
    A custom AUV model for the ROSEN case study within the REMARO project.
  </description>
</model>
